.user-list__container {
  display: flex;
  justify-content: center;
}
.user-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  list-style: none;
  max-width: 100%;
}

@media screen and (max-width: 870px) {
  .user-list {
    grid-template-columns: 1fr;
  }
}
