.user-info {
  border: var(--border-primary);
  border-radius: var(--border-radius-1);
  cursor: pointer;
  display: grid;
  grid-template-columns: 0.5fr auto 6fr;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 2rem;
  transition: var(--transition);
  max-width: 60rem;
}
.user-info:hover {
  box-shadow: var(--box-shadow);
  transform: var(--scale);
}
.user-info:active {
  background-color: rgb(201, 204, 204);
}
.active {
  box-shadow: var(--box-shadow);
  background-color: rgba(140, 156, 169, 0.157);
}

.active > .number {
  color: var(--color-purple);
}
.active > .avatar {
  border: 2px solid var(--color-purple);
}

.avatar {
  border: 2px solid transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  transition: var(--transition);
}
.img {
  width: 5rem;
  height: 5rem;
}

.info-block {
  display: grid;
  gap: 1rem;
}

.number {
  min-width: 4rem;
  text-align: end;
}
.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.time {
  color: var(--color-purple);
}
.speed {
  color: var(--color-blue);
}
